// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #eceff4 !default;
$fg-color: #3b4252 !default;
$alt-bg-color: #e5e9f0 !default;
$alt-fg-color: #2e3440 !default;
$link-color: #d08770 !default;

// Colors dark
$bg-color-dark: #3b4252 !default;
$fg-color-dark: #eceff4 !default;
$alt-bg-color-dark: #4c566a !default;
$alt-fg-color-dark: #d8dee9 !default;
$link-color-dark: #b48ead !default;
